# Ignore node modules
node_modules

# Environment files
.env
.env.*
!.env.example
!.env.*.example
!.env.*.template

# Ignore logs
*.log
logs/

# Ignore editor directories and files
.vscode
.idea
*.swp
*~

# Ignore temporary files and directories
tmp/
temp/
*.tmp

# Keep custom resources
!themes/
!realm-export/
